{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
    {% if page and page.title != '' %}{{page.title}}{% else %}Про нас{% endif %}
{% endblock %}

{% block content %}

    <section class="news-desc">
        <aside style="width: 90%; margin-right: 0% !important;">

            <h1 class="textshadowblue" style="margin-top: 3px">Про нас</h1>

            <p style="margin-top: 30px;"><b>ТОВ “РЕНОВЕЙТ”</b> - компанія європейського зразка. Ми надаємо весь комплекс послуг та забезпечуємо якісне виконання всіх видів робіт, пов'язаних із ремонтом квартир\будинків\будівель: від заміни кранів до спорудження стін. Ми пропонуємо комплексне утримання та обслуговування споруд всіх форм домоволодіння: від приватних будинків до ОСББ та ЖБК. </p>
            <h2 style="font-size: 14px;"> Ми пропонуємо:</h2>
            <ul>
                <li>
                    повний спектр обслуговування Вашої оселі (ремонт, прибирання та інше);
                </li>
                <li>
                    формуємо індивідуальні тарифи по обслуговуванню згідно Ваших потреб;
                </li>
                <li>
                    пропонуємо альтернативні варіанти отоплення будинку;
                </li>
                <li>
                    залучаємо інвесторів для ремонту та утеплення Вашого будинку;
                </li>
                <li>
                    працюємо як з індивідуальними замовленнями, так і з колективними;
                </li>
                <li>
                    діє гнучка система знижок;
                </li>
                <li>
                    пропонуємо ведення бухгалтерії та документообігу домоволодінь та ін.
                </li>
                <li>
                    здійснюємо претензійну роботу від імені наших клієнтів - ОСББ (в тому числі - захист інтересів в суді)
                </li>
            </ul>
            <p>Ми пропонуємо <strong>якість за помірними цінами.</strong> Цінова політика ТОВ “РЕНОВЕЙТ” розрахована на обслуговування середньостатистичних українців, однак ми гарантуємо найвищу якість робіт європейськог зразка. Втілюємо ідеї як найекстравагантнішого замовника, так і найконсервативнішого. Використовуємо перевірені часом технології та застосовуємо новинки ринку, в якості яких упевнені.  </p>
            <p><strong>Надаємо гарантію на всі види робіт,</strong> виконані нашими спеціалістами, від 1-го до 5-ти років. Консультація, оцінка та розробка проекту робіт — <strong>безкоштовно</strong> (за умови замовлення виконання робіт). Роботи виконують лише <strong>професійні робітники</strong> з багаторічним стажем. </p>
            <p>Ми пропонуємо <strong>індивідуальний підхід</strong> до кожного клієнта, якісне обслуговування, гнучку <strong>систему знижок,</strong> в тому числі оптові ціни на певні категорії робіт, прозоре формування кошторису, коригування кошторису згідно із потребами кожного замовника, використання найновітніших технологій у сфері ремонту та найкращих ( в тому числі — за співвідношенням ціна-якість) матеріалів, використання сучасної техніки, <strong>офіційне оформлення договорів,</strong> документальне підтвердження виконання робіт. Роботи, виконані нашими працівниками, приємно здивують Вас якістю.</p>
            <h2 style="font-size: 14px;">Ми піклуємось про Вашу квартиру/будинок і нашу репутацію!</h2>

            <iframe style="margin-top: 15px; margin-left: 340px;" width="560" height="315" src="https://www.youtube.com/embed/tF-6SHkYIqo" frameborder="0" allowfullscreen></iframe>

        </aside>


    </section>

{% endblock %}