{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
    Логін
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6" style="margin-top: 67px; margin-left: 26%;">

            <div class="panel panel-default">
                <div class="panel-heading">Сторінка авторізаціі</div>
                <div class="panel-body">

                    <form  action="">
                        <input class="form-control" placeholder="Логін">
                        <br/>
                        <input class="form-control" type="password" placeholder="Пароль">
                        <br/>
                        <button class="btn btn-primary">Вхід</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}