<div class="modal fade" id="add_new_portfolio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Додати портфоліо</h4>
            </div>
            <form action="{{ path('renovate_add_new_portfolio') }}" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div>
                        <input type="hidden" name="MAX_FILE_SIZE" value="10000000">
                        <input name="image" type="file" accept="image/x-png,image/jpeg" required>
                    </div>
                    <div style="margin-top: 20px;">
                        <input name="showOnHomePage" id="showOnHomePage" type="checkbox" checked>
                        <label for="showOnHomePage">Показувати на головній</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
</div>